/* 
* Annie McTaggart
* Due Date
* Project Name and Description
*/

*/ The universal selector */

*{ margin: 0; padding: 0;

}

/* Body attributes here */

body {
    border: 5px dotted purple;
    padding: 10px 65px 10px 10px;
    margin: 10px;
}
h1{ 
    border: 5px dotted pink;
    padding: 10px;
    margin: 10px;
}
p{
    border: 5px dotted orange;
    padding: 10px;
    margin: 10px;
}
main{
    border: 5px solid blue;
    padding: 30px 5px 5px;
    margin: 10px;
}